{% block body %}

    {% for news_ in news %}
        <div class="card">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ news_.title | raw }}</h4>
            </div>

            <div class="card-body">
                <a href="{{ path('publicNews', {'id': news_.id}) }}">
                    <img class="img-thumbnail card-img-top img-fluid"
                         src="{{ vich_uploader_asset(news_, 'imageFile', 'App\\Entity\\News') }}" style=""/>
                    {{ news_.shortDescription }}
                </a>
            </div>
        </div>
    {% else %}
        empty
    {% endfor %}

{% endblock %}
