{% block body %}

    {% for news_ in news %}
        <div class="card">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ news_.title | raw }}</h4>
            </div>

            <div class="card-body">
                <img class="img-thumbnail card-img-top img-fluid"
                     src="{{ vich_uploader_asset(news_, 'imageFile', 'App\\Entity\\News') }}" style=""/>
                <h3>{{ news_.shortDescription }}</h3>
                <hr class="col-xs-12">
                {{ news_.content }}
            </div>
        </div>
    {% else %}
        empty
    {% endfor %}

{% endblock %}
