{% extends 'base.html.twig' %}

{% block title %}News by category page{% endblock %}
{% block body %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-4">
            <a href="{{ path('newsByCategory', {'id': category.id}) }}">{{ category.title }}</a>
        </h3>
    </div>

    <div class="d-flex justify-content-center">
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

    <div class="container">
        <div class="card-columns">
            {% set news = pagination %}
            {{ include('public/partial/news_card_thumb.html.twig') }}
        </div>
    </div>

{% endblock %}
