{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}
{% block body %}
    {% for category in categories %}
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h3 class="display-4">
                <a href="{{ path('newsByCategory', {'id': category.id}) }}">{{ category.title }}</a>
            </h3>
        </div>
        <div class="container">
            <div class="card-deck text-center card-columns">

                {% set news = category.news|slice(0,3) %}
                {{ include('public/partial/news_card_thumb.html.twig') }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
