{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}
{% block body %}

    {% set comments = news.comments %}
    {% set newsId = news.id %}

    <div class="container">
        <div class="card-deck">
            {% set news = [news] %}
            {{ include('public/partial/news_card.html.twig') }}
        </div>
    </div>

    <div class="container" style="margin-top: 40px;">
        <div class="panel-heading">
            <h3>
                Comment panel
            </h3>
            <div>
                {{ form_start(form, {'action': path('addComment', {'id': newsId}), 'method': 'POST'}) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
                {{ form_help(form.content) }}
                {{ form_end(form) }}
            </div>
        </div>

        <div class="panel-body">
            <div class="clearfix"></div>
            <hr>
            <div class="media-list">
                {% dump comments %}
                {% for comment in comments|reverse %}
                    <div class="media m-2">
                        <a href="#" class="pull-left">
                            <img src="https://bootdey.com/img/Content/user_1.jpg" class="img-circle">
                        </a>
                        <div class="media-body">
                            <strong class="text-success ml-2"> @{{ comment.owner }}</strong>
                            <div class="ml-2">
                                {{ comment.content }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
