{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ category.title }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">back to list</a>

{% endblock %}
