{{ form_start(form) }}
    {{ form_widget(form) }}

<h3>Tag1s</h3>
<ul class="tags">
    {# iterate over each existing tag and render its only field: name #}
    {% dump form.categories %}
    {% for tag in form.categories %}
        {% dump tag.title %}

        <li>{{ form_row(tag.title) }}</li>
    {% endfor %}
</ul>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}




{#{% dump form %}#}
{#  {% for tag in form.categories %}#}
{#        <li>{{ form_row(tag.title) }}</li>#}
{#{% endfor %}#}
