{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    <h1>News index</h1>
    <div>
        <a class="btn btn-info pull-right" href="{{ path('news_new') }}">Create new</a>
    </div>

    <div class="d-flex justify-content-center">
        <div class="navigation text-center">
            {{ knp_pagination_render(news) }}
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Short description</th>
            <th>Content</th>
            <th>Category</th>
            <th>Picture</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for news in news %}

            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.shortDescription|slice(0, 100) }}</td>
                <td>{{ news.content|slice(0, 250) }}</td>
                <td>
                    {% for category in news.Categories %}
                        {{ category.title }}
                    {% endfor %}
                </td>
                <td>
                    <img class="img-thumbnail card-img-top img-fluid" src="{{ vich_uploader_asset(news, 'imageFile') }}"
                         style=""/>
                </td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">show</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
