{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ news.id }}</td>
        </tr>
        <tr>
            <th>Short_description</th>
            <td>{{ news.shortDescription }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ news.content }}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>
                {% for tag in news.comments %}
                    <span>
                            {{ tag.content }}
                        {{ tag.owner }}
                        </span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Picture</th>
            <td>{{ news.picture }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
