{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    {% dump news %}
    <h1>News</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ news.id }}</td>
        </tr>
        <tr>
            <th>Short_description</th>
            <td>{{ news.shortDescription }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ news.content }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>
                {% for comment in news.Categories %}
                    <span>
                            {{ comment.title }}
                        </span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Picture</th>
            <td>
                <img src="{{ vich_uploader_asset(news, 'imageFile') }}" style=""/>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('news_index') }}">back to list</a>

    <a href="{{ path('news_edit', {'id': news.id}) }}">edit</a>

    {{ include('news/_delete_form.html.twig') }}

{% endblock %}
