{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ comment.id }}</td>
        </tr>
        <tr>
            <th>News id</th>
            <td>{{ comment.news.id }}</td>
        </tr>
        <tr>
            <th>News title</th>
            <td>{{ comment.news.title }}</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>{{ comment.owner }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ comment.content }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_index') }}">back to list</a>

    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
