{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <h1>Dashboard</h1>

    <table class="table">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="{{ path('category_index') }}">Category</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('news_index') }}">News</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ path('comment_index') }}">Comment</a>
            </td>
        </tr>
        </tbody>
    </table>


{% endblock %}
